/* Begin main styling */
body {
  padding: 10px 0;
  background-color: #f5f5f5;
}

#dropSphereLogo {
  height: 56px;
}

#userImage {
  height: 40px;
  border-radius: 50%;
}

.dropdown {
  bottom: 8px;
  right: 15px;
  position: absolute;
}

#contacts, #chat, #links {
  height: 400px;
}

.contactImage {
  width: 35px;
  border-radius: 50%;
}

.contactName {
  padding-top: 7px;
  float: right;
}

#contacts ul {
  overflow-y: scroll;
  height: 320px;
}

#contacts li {
  background-color: #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 7px 0 10px 7px;
  cursor: pointer;
  transition: box-shadow .35s ease;
}

#contacts li.selected {
  box-shadow: 0px 0px 12px #337ab7;
}

#chatBox ul {
  overflow-y: scroll;
  height: 300px;
  padding: 0 7px;
  margin-bottom: 0;
}

.messageLeft, .messageRight {
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
  color: #dddddd;
}

.messageLeft {
  background-color: #337ab7;
  float: left;
  clear: both;
}

.messageRight {
  background-color: #5cb85c;
  float: right;
  clear: both;
}

#dropContent {
  margin-bottom: 10px;
}

/* End main styling */


/* Begin helper Stuff */

.hideMe {
  display: none;
}

hr {
  border-top: 1px solid #d9d9d9;
}

.specialHr {
  margin-top: 10px;
}

.borderRight {
  border-right: 1px solid #d9d9d9;
}

.borderLeft {
  border-left: 1px solid #d9d9d9;
  padding-right: 15px;
}

.borderRight .row {
  padding-right: 15px;
}

.borderLeft .row {
  padding-left: 15px;
}

.hoverCursor:hover {
  cursor: pointer;
}

/* Make all horizontal forms look the same */
.form-horizontal .control-label {
  margin-bottom: 0;
  padding-top: 7px;
  text-align: right;
}

.center {
  display:table-cell;
  vertical-align:middle;
  float:none;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Placeholder Center */
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

/* End helper stuff */
