/* Begin main styling */
body {
  padding: 10px 0;
  background-color: #f5f5f5;
}

#contacts, #chat, #links {
  height: 400px;
}

.contactImage {
  width: 40px;
  border-radius: 50%;
}

.contactName {
  padding-top: 10px;
  float: right;
}

#contacts li {
  background-color: #dedede;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 4px;
}

#contacts li.selected {
  border: 2px solid #337ab7;
}

.messageLeft, .messageRight {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #dddddd;
}

.messageLeft {
  background-color: #337ab7;
  float: left;
  clear: both;
}

.messageRight {
  background-color: #5cb85c;
  float: right;
  clear: both;
}

#dropContent {
  margin-bottom: 10px;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* End main styling */


/* Begin helper Stuff */
.hideMe {
  display: none;
}

hr {
  border-top: 1px solid #d9d9d9;
}

.borderRight {
  border-right: 1px solid #d9d9d9;
}

.borderLeft {
  border-left: 1px solid #d9d9d9;
  padding-right: 15px;
}

.borderRight .row {
  padding-right: 15px;
}

.borderLeft .row {
  padding-left: 15px;
}

/* Make all horizontal forms look the same */
.form-horizontal .control-label {
  margin-bottom: 0;
  padding-top: 7px;
  text-align: right;
}

.center {
  display:table-cell;
  vertical-align:middle;
  float:none;
}

/* Placeholder Center */
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

/* End helper stuff */
